
.navbar-nav{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-ul{
    display: flex;
    justify-content: center; 
    align-items: center; 
} 

 .navbar-li{
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    padding:  10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    
}

