
nav{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center; 
    align-items: center; 
} 

li{
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    padding:  10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    
}

.inicioList{
    border-top: 1px solid #f27092;
    border-bottom: 1px solid #f27092;
}

.inicioLink{
    text-decoration:none;
    color:#f27092;

}
.login,.cart{
    border:none
}